# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ETF predmeti\Internet tehnologija programiranja\Rokovi\Uradjeni rokovi\2.KOLOKVIJUM\ITP26.9.2019\Ocjene26.9.2019\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
